<svg viewBox="0 0 100 100" 
   class="game-card card-confirmed-{{card.confirmed}} card-suspect-{{card.suspect}} card-severity-{{card.severity}} card-revealed-{{card.revealed}}"
   (click)="acted.emit(card)">

   <defs>
      <clipPath
         id="suspectclip"
         clipPathUnits="userSpaceOnUse">
         <rect
            ry="15.50129"
            y="0"
            x="0"
            height="100"
            width="100"
            id="rect963"
            style="opacity:1;vector-effect:none;fill:#ffd42a;fill-opacity:1;stroke:none;stroke-width:7.83230782;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
      </clipPath>
   </defs>

   <g id="suspect">
      <image
         [attr.xlink:href]="'assets/' + card.suspect + '.jpg'"
         clip-path="url(#suspectclip)"
         width="100"
         height="100"
         preserveAspectRatio="none"
         id="image875"
         x="0"
         y="0" />
      <rect class="suspect-stroke-{{card.suspect}}"
         style="opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
         id="rect852"
         width="86"
         height="86"
         x="7"
         y="7"
         ry="8.4206524" />
      <ellipse class="suspect-fill-{{card.suspect}} suspect-stroke-{{card.suspect}}"
         style="opacity:1;vector-effect:none;fill-opacity:1;stroke-width:6.57597923;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
         id="path923"
         cx="79.31028"
         cy="78.494965"
         rx="12.401728"
         ry="13.217044" />
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:35.69487px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:black;fill-opacity:1;stroke:none;stroke-width:0.89237249"
         x="79.31028"
         y="89.89798"
         id="text852-3"><tspan
            id="tspan850-6"
            x="79.31028"
            y="89.89798"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:35.69487px;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:black;fill-opacity:1;stroke-width:0.89237249">{{card.severity}}</tspan></text>
   </g>

   <g id="veil" *ngIf="!card.revealed">
      <rect
         ry="15.50129"
         y="0"
         x="0"
         height="100"
         width="100"
         id="rect959"
         style="opacity:0.5;vector-effect:none;fill:#000000;fill-opacity:1;stroke:none;stroke-width:7.83230782;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
      <text
         id="text967"
         y="61.054443"
         x="35.116104"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64.27674103px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.60691988;opacity:0.5;"
         xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64.27674103px;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke-width:1.60691988;"
         y="61.054443"
         x="35.116104"
         id="tspan965">{{card.cost}}</tspan></text>
   </g>


</svg>