<div class="fullpage">
    <div class="card-row">
        <div class="card-cell" app-card></div>
        <div class="card-cell" app-card></div>
        <div class="card-cell" app-card></div>
    </div>
    <div class="card-row">
        <div class="card-cell" app-card></div>
        <div class="card-cell" app-card></div>
        <div class="card-cell" app-card></div>
    </div>
    <div class="card-row">
        <div class="card-cell" app-card></div>
        <div class="card-cell" app-card></div>
        <div class="card-cell" app-card></div>
    </div>
    <div class="card-row">
        <div class="card-cell" app-card></div>
        <div class="card-cell" app-card></div>
        <div class="card-cell" app-card></div>
    </div>
</div>
