<svg viewBox="0 0 100 100" class="panel-menu-item game-icon" (click)="acted.emit()" >
    <g id="game-icon" >
        <rect
            ry="8.9108067"
            y="3.6317062"
            x="3.6317062"
            height="92.736588"
            width="92.736588"
            id="rect955"
            style="opacity:1;vector-effect:none;fill:#ffd42a;fill-opacity:1;stroke:#999999;stroke-width:7.26341486;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
        <text
            id="text959"
            y="81.270966"
            x="50.188759"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:85.90602112px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:2.14765048;"
            xml:space="preserve"><tspan
                style="stroke-width:2.14765048;fill:#000000;"
                y="81.270966"
                x="50.188759"
                id="tspan957">{{shared.game.actions}}</tspan></text>
    </g>
</svg>